# ---------------------------
# VISUAL STUDIO
# ---------------------------
.vs/

# ---------------------------
# PYTHON
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------
# ENVIRONMENTS / SECRETS
# ---------------------------
.env
*.env
venv/


# ---------------------------
# DJANGO PROJECT
# ---------------------------


# ---------------------------
# BACKUPS
# ---------------------------
*.sql
*.dump
2_db.sqlite3

# ---------------------------
# OS FILES
# ---------------------------
.DS_Store
Thumbs.db
db.sqlite3

node_modules/
staticfiles/
media/